In [1]:
n=("My name is XYZ. My employee id is E1289 and age is 35 and salary is 120000 rs.")
s=n.split(' ')
re=[]
for i in s:
    if i.isdecimal():
        re.append(i)
print(re)

['35', '120000']